/* ==========================================================================
   Atlas layout

   Extra styling for tablet layouts
========================================================================== */

    .layout-atlas-tablet {
        .region-topbar {
            min-height: var(--m-header-height);
            border-style: none;
            background-color: var(--m-header-bg);

            &::before {
                display: none;
            }
        }

        .region-sidebar {
            .mx-navigationtree .navbar-inner > ul > li > a .glyphicon {
                margin-right: var(--spacing-md);
            }
        }
    }

