
    /* ==========================================================================
       Button
    ========================================================================== */

    .btn,
    .mx-button {
        background-color: transparent;
        background-image: none;
        border: var(--btn-border-width) solid var(--btn-secondary-border-color);
        border-radius: var(--border-radius-default);
        box-shadow: var(--box-shadow-default);
        color: var(--btn-secondary-color);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.4rem;
        font-size: var(--font-size-default);
        font-weight: var(--btn-font-weight);
        margin-bottom: 0;
        padding: var(--btn-padding);
        transition: all 0.2s ease-in-out;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        box-shadow: none;
        text-shadow: none;
        line-height: var(--line-height-base);
        -webkit-user-select: none;
        user-select: none;

        span {
            display: flex;
            align-items: center;
        }
        &:hover,
        &:focus-visible,
        &:active {
            border: 2px solid var(--btn-secondary-border-color-hover);
            background-color: var(--btn-secondary-bg-hover);
            color: var(--btn-secondary-color-hover);
            outline: none;
        }

        // To style focus state, update in the utility-classes partial
        &:focus-visible {
           @extend .btn-focus-visible-state;
        }

        // Disabled
        &[disabled],
        &[aria-disabled] {
            color: var(--brand-gray-400);
            border: var(--brand-gray-400);
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.65;
        }

        @if $btn-bordered != false {
            @extend .btn-bordered;
        }
    }

    //  Variations
    .btn,
    .btn-default,
    .btn-secondary {
       @extend .mx-button;
    }

    .btn-primary {
        background-color: var(--btn-primary-bg);
        border: var(--btn-border-width) solid var(--btn-primary-border-color);
        color: white;

        &:hover,
        &:focus-visible,
        &:active {
            border: 2px solid var(--btn-primary-border-color-hover);
            background-color: var(--btn-primary-bg-hover);
            color: var(--btn-primary-color-hover);
        }
    }
    
    .btn-text-only {
        background-color: var(--btn-text-only-bg-color);
        border:  var(--btn-border-width) solid var(--btn-text-only-border-color);
        color: var(--btn-text-only-color);
        &:hover,
        &:focus-visible {
            border-color: var(--btn-text-only-border-color-hover);
            background-color: var(--btn-text-only-bg-hover);
            color: var(--btn-text-only-color-hover);
        }
    }
    

    // Link
    .mx-link {
        display: inline-flex;
        align-items: center;
        gap: var(--spacing-xs);
        padding: 0;
        color: var(--link-color);
        margin-bottom: 0;
        width: fit-content;
        border: none;

        &[aria-disabled="true"] {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.65;
        }

        &:hover,
        &:focus {
            border: none;
        }

        &:focus-visible {
            @extend .btn-focus-visible-state;
            border-radius: var(--border-radius-default);
            outline-offset: 4px !important;
        }
        span:before {
            display: inline-block;
            text-decoration: none;
        }
    }

    .link-back {
        color: var(--font-color-detail);

        .glyphicon {
            top: 2px;
        }
    }

    // Images and icons in buttons
    .btn,
    .mx-button,
    .mx-link {
        img {
            //height: auto; // MXUI override who set the height on 16px default
            height: calc(var(--font-size-default) + 4px);
            margin-right: 4px;
            vertical-align: text-top;
        }
    }

    // Button Sizes
    .btn-lg {
        font-size: var(--font-size-large);

        img {
            height: calc(#{var(--font-size-small)} + 4px);
        }
    }

    .btn-sm {
        font-size: var(--font-size-small);

        img {
            height: calc(#{var(--font-size-small)} + 4px);
        }
    }

    // Button Image
    .btn-image {
        padding: 0;
        vertical-align: middle;
        border-style: none;
        background-color: transparent;

        img {
            display: block; // or else the button doesn't get a width
            height: auto; // Image set height
        }

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    // Icon buttons
    .btn-icon {
        & > img,
        & > .glyphicon {
            margin: 0;
        }
    }

    .btn-icon-right {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;

        & > .mx-icon-lined,
        & > .mx-icon-filled,
        & > img,
        & > .glyphicon {
            top: 0;
            margin-left: 0;
        }
    }

    .btn-icon-top {
        padding: 0 var(--spacing-xs);
        flex-direction: column;
        gap: var(--spacing-xs);
        

        & > img,
        & > .glyphicon {
            display: block;
            margin: 0 0 4px 0;
        }
    }

    .btn-icon-only {
        background-color: transparent;
        color: var(--btn-default-icon-color);
        padding: var(--btn-icon-only-padding);
        border: var(--btn-border-width) solid transparent;
        margin: 0;
        gap: 0;
        span::before {
            font-size: var(--btn-icon-only-font-size);
            margin: 0;
        }
        &:hover,
        &:focus {
            margin: 0;
            background-color: transparent;
            color: var(--btn-default-icon-color-hover);
            border-color: var(--btn-icon-only-border-color-hover);
            border-radius: var(--border-radius-default);
        }
        &:focus-visible {
            background-color: transparent;
            color: var(--btn-default-icon-color-hover);
        }
    }

    .btn-block {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-block + .btn-block {
        margin-top: 4px;
    }


    //== Phone specific
    //-------------------------------------------------------------------------------------------------------------------//
    .profile-phone {
        .btn,
        .mx-link {
            &:active {
                transform: translateY(1px);
            }
        }
    }   

    .theme-square {
        .btn {
            border-radius: 0;
        }
    }
    .theme-Rounded {
        .btn {
            border-radius: 20px;
        }
    }